.nav {
  display: flex;
  justify-content: center;
  overflow: hidden;

  padding: 40px;
}
.nav__list {
  list-style: none;
  display: inline-flex;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 15px;
  border-radius: 40px;
}
.nav__list-items a {
  text-decoration: none;
  color: white;
  font-family: var(--oswald);
  font-size: 21px;
  font-weight: 400;
  transition: transform 0.3s;
  border-radius: 25px;
  padding: 10px 20px;
}
a:hover {
  color: black;
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  gap: 30px;
}
